

.OnTop {
    position: relative;
    opacity: 1;
    background-color: transparent;
    background: rgba(204, 122, 0, 0.226);
    
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    font-family: 'Patrick Hand SC', cursive;

    
  }

  .module {
    
    width: 1522px;
    height: 1500px;
   
    background-size: cover;
  }
  .red {
    background-image: 
      linear-gradient(
        rgba(238, 187, 78, 0.5),
        rgba(255, 0, 0, 0.5)
      ),
      url(real.jpg);
  }